<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hero_attack_00_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,434},{48,82}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{115,32},{48,82}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_attack_00_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,474},{78,80}}</string>
			<key>offset</key>
			<string>{13,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{114,34},{78,80}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_attack_00_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,400},{72,82}}</string>
			<key>offset</key>
			<string>{11,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{115,32},{72,82}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_hurt_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,350},{56,84}}</string>
			<key>offset</key>
			<string>{-13,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{99,30},{56,84}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_hurt_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,314},{56,84}}</string>
			<key>offset</key>
			<string>{-13,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{99,30},{56,84}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_hurt_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,372},{56,82}}</string>
			<key>offset</key>
			<string>{-13,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{99,32},{56,82}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_idle_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,554},{50,80}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{115,34},{50,80}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_idle_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,494},{54,80}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{114,34},{54,80}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_idle_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,528},{54,78}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{115,36},{54,78}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_idle_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,474},{54,80}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{115,34},{54,80}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_idle_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,484},{52,80}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{114,34},{52,80}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_idle_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,550},{50,80}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{114,34},{50,80}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_knockout_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,448},{58,78}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108,37},{58,78}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_knockout_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,372},{56,82}}</string>
			<key>offset</key>
			<string>{-13,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{99,33},{56,82}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_knockout_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,372},{74,56}}</string>
			<key>offset</key>
			<string>{-28,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{75,49},{74,56}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_knockout_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,2},{94,24}}</string>
			<key>offset</key>
			<string>{-42,-31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{51,94},{94,24}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_knockout_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,182},{96,22}}</string>
			<key>offset</key>
			<string>{-42,-32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,96},{96,22}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_walk_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,464},{52,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{114,35},{52,80}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_walk_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,430},{42,82}}</string>
			<key>offset</key>
			<string>{5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{124,33},{42,82}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_walk_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,384},{48,82}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{117,33},{48,82}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_walk_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,582},{48,80}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{117,35},{48,80}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_walk_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,602},{42,80}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{124,35},{42,80}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_walk_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,454},{38,82}}</string>
			<key>offset</key>
			<string>{7,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{128,33},{38,82}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_walk_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,408},{44,82}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{121,33},{44,82}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>hero_walk_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,530},{50,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{115,35},{50,80}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_attack_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,168},{62,108}}</string>
			<key>offset</key>
			<string>{-1,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{108,6},{62,108}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_attack_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,216},{58,108}}</string>
			<key>offset</key>
			<string>{-6,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{105,6},{58,108}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_attack_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,154},{62,110}}</string>
			<key>offset</key>
			<string>{-6,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{103,4},{62,110}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_attack_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,232},{88,106}}</string>
			<key>offset</key>
			<string>{11,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{107,8},{88,106}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_attack_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,130},{84,108}}</string>
			<key>offset</key>
			<string>{10,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{108,6},{84,108}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_hurt_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,280},{70,100}}</string>
			<key>offset</key>
			<string>{-12,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{93,14},{70,100}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_hurt_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,276},{72,98}}</string>
			<key>offset</key>
			<string>{-15,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{89,16},{72,98}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_hurt_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,306},{76,92}}</string>
			<key>offset</key>
			<string>{-16,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{86,22},{76,92}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_idle_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,168},{62,108}}</string>
			<key>offset</key>
			<string>{-1,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{108,6},{62,108}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_idle_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,66},{62,112}}</string>
			<key>offset</key>
			<string>{-1,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{108,2},{62,112}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_idle_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,2},{62,114}}</string>
			<key>offset</key>
			<string>{-1,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{108,0},{62,114}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_idle_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,90},{62,110}}</string>
			<key>offset</key>
			<string>{0,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{109,4},{62,110}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_idle_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,90},{60,112}}</string>
			<key>offset</key>
			<string>{0,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{110,2},{60,112}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_knockout_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,280},{70,100}}</string>
			<key>offset</key>
			<string>{-12,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{93,14},{70,100}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_knockout_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,322},{76,94}}</string>
			<key>offset</key>
			<string>{-17,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,20},{76,94}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_knockout_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,382},{90,80}}</string>
			<key>offset</key>
			<string>{-22,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,34},{90,80}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_knockout_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{134,86}}</string>
			<key>offset</key>
			<string>{-12,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,32},{134,86}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_knockout_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,98},{82,32}}</string>
			<key>offset</key>
			<string>{-41,-27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58,86},{82,32}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_walk_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,2},{84,112}}</string>
			<key>offset</key>
			<string>{-11,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{87,2},{84,112}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_walk_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,218},{86,102}}</string>
			<key>offset</key>
			<string>{-13,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{84,5},{86,102}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_walk_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,152},{78,108}}</string>
			<key>offset</key>
			<string>{-7,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{94,6},{78,108}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_walk_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,88},{78,110}}</string>
			<key>offset</key>
			<string>{-8,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{93,4},{78,110}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_walk_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,232},{80,102}}</string>
			<key>offset</key>
			<string>{-11,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{89,4},{80,102}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
		<key>robot_walk_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,2},{86,110}}</string>
			<key>offset</key>
			<string>{-11,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{86,4},{86,110}}</string>
			<key>sourceSize</key>
			<string>{280,150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>pd_sprites.pvr.ccz</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:47933ad5402456251edd23654453c53e$</string>
		<key>textureFileName</key>
		<string>pd_sprites.pvr.ccz</string>
	</dict>
</dict>
</plist>
